*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Red Hat Text', sans-serif;
}

:root{
    --light-blue: #b3c8ff70;
    --visited: cyan;
    /* --wall: rgb(35, 36, 39); */
    --wall: rgb(12, 53, 71);
    --inPath: gold;
}

.header{
    /* background-color: #615f80; */
    /* background-color: #4942b6; */
    background: rgb(175,181,255);
    background: linear-gradient(90deg, rgba(175,181,255,1) 0%, rgba(112,134,224,1) 5%, rgba(80,73,191,1) 18%, rgba(73,66,182,1) 100%);
    min-height: 4.2rem;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 8px rgb(56, 48, 48);

}

.header h1{
    /* color: #b4c4fb; */
    color: white;
    font-family: 'Iceland', monospace;
    letter-spacing: 3px;
    font-size: 40px;
    padding-left: 40px;
    
}

.body{
    display: flex;
    /* border: 1px solid red; */
    /* flex: 1; */
    height: 100%;
    /* box-sizing: border-box; */
}

.wall{
    background-color: var(--wall);
    border-color: rgb(35, 36, 39);
    /* #e8d6c7 */
    animation: wallAnimation 0.3s ease-out alternate forwards;
}

@keyframes wallAnimation {
    0% {
      transform: scale(.3);
      /* background-color: rgb(12, 53, 71); */
    }
  
    50% {
      transform: scale(1.2);
      /* background-color: rgb(12, 53, 71); */
    }
  
    100% {
      transform: scale(1.0);
      /* background-color: rgb(12, 53, 71); */
    }
  }

.weight{
    /* background-color: brown; */
    background-image: url("../images/weight.png");
    background-size: contain;
    background-position: center;
    background-size: 80%;
}

.start{
    /* background-color:aquamarine; */
    background-image: url("../images/start.png");
    background-size: contain;
}

.end{
    /* background-color: cadetblue; */
    background-image: url("../images/end.svg");
}

.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-width: 10rem;
    min-height: 100%;
    background-color: var(--light-blue);
    /* background-color: #b3c8ff70; */
    /* background-color: #daecfe; */
    /* background-color: #b4c4fb; */
}

.sidebar button{
    border: none;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7rem;
    padding: 8px;

    transition: box-shadow 0.3s;
}

.sidebar button p{
    margin-left: 1rem;
    font-size: 16px;
    font-weight: 600;
    pointer-events: none;
}

.sidebar button img{
    width: 30px;
    pointer-events: none;
}

.shadow{
    box-shadow: 0px 0px 5px #96abf9;
    background-color: #96abf9;
    border-color: #6e8be9;
    border-radius: 8px;
}

.legend{
    display: flex;
    /* background-color: #b3c8ff70; */
    background-color: var(--light-blue);
    color: white;
    min-height: 3rem;
    align-items: center;

    justify-content: space-around;
}

.legend span{
    display: flex;
    align-items: center;
    justify-content: center;
}

.legend span p{
    margin-left: 1.5rem;
    color: black;
}

.legend span:nth-of-type(1) .node{
    background-color: var(--visited);
}
.legend span:nth-of-type(2) .node{
    background-color: var(--inPath);
}

.node-legend, .controls{
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: space-around;
}

.legend button{
    box-sizing: border-box;
    padding: 0 5px;
    font-size: 16px;
    /* border: transparent; */
    border-right-color: transparent;
    border-left-color: transparent;
    background-color: transparent;
    cursor: pointer;
    font-weight: 600;
}

.begin{
    background: linear-gradient(45deg,#F17C58, #E94584, #24AADB , #27DBB1,#FFDC18, #FF3706);
    background-size: 600% 100%;
    animation: gradient 16s linear infinite;
    animation-direction: alternate;
}

/* .begin:hover span{
    animation: neon2 4s linear infinite;
} */

@keyframes gradient {
    0% {background-position: 0%}
    100% {background-position: 100%}
}

.main{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    background-color: var(--light-blue);
    gap: 0;
}

.node{
    min-height: 30px;
    min-width: 30px;
    /* max-width: 32px;
    max-height: 32px; */
    /* border: 1px solid rgb(103, 191, 232); */
    border: 1px solid rgb(131 156 255 / 76%);
    background-repeat: no-repeat;
    border-left-style: none;
    border-top-style: none;
    color: #6e8be9;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 12px;
    user-select: none; 
}

.visited{
    background-color: var(--visited);
}

.inPath{
    background-color: var(--inPath);
}

.weight.visited{
    animation: visitWeight 0.5s ease-in-out forwards;
}

@keyframes visitWeight{
    50%{
        /* transform: scale(1.2); */
        background-size: 60%;
    }

    100%{
        /* transform: scale(1); */
        background-size: 80%;
    }
}


@media screen and (max-width: 600px) {
    .node-legend{
        display: none;
    }

    .body{
        flex-direction: column;
    }

    .sidebar{
        flex-direction: row;
        min-height: 50px;
        flex-wrap: wrap;
    }

    .legend{
        flex-direction: column;
        min-height: 130px;
        width: 100%;
        flex-wrap: wrap;
        /* justify-content: space-around; */
    }

    .controls{
        width: 100%;
        padding: 5px 0;
    }

    .header h1{
        font-size: 28px;
    }

    .controls button:nth-child(1){
        order: 1;
        font-size: 20px;
    }
    .controls button:nth-child(2){
        order: 0;
    }
    .controls button:nth-child(3){
        order: 2;
    }

    .controls button{
        padding: 3px;
    }

    body{
        overscroll-behavior: contain;
    }

}

.button-jittery {
	animation: jittery 4s infinite;
}

@keyframes jittery {
	5%,
	50% {
		transform: scale(1);
	}
	10% {
		transform: scale(0.9);
	}
	15% {
		transform: scale(1.15);
	}
	20% {
		transform: scale(1.15) rotate(-5deg);
	}
	25% {
		transform: scale(1.15) rotate(5deg);
	}
	30% {
		transform: scale(1.15) rotate(-3deg);
	}
	35% {
		transform: scale(1.15) rotate(2deg);
	}
	40% {
		transform: scale(1.15) rotate(0);
	}
}
